body {
    padding: 10px;
}

.row {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 1px;
	margin-left: 1px;
}

.listing-col {
	border: 1px solid #bbb;
}

.listing-col > div {
	margin: 5px;
}

.image-wrapper {
	height: 200px; /* fixed height */
	width: 100%; /* take full column width */
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.image-wrapper img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

.link {
	color: black;
}

.link:hover {
	color: black;
}

.container-div  * {
	margin: 10px 0px;	
}
