{% extends "auctions/layout.html" %}

{% block body %}

	{% if message %}
		<div class="alert alert-danger" role="alert">{{ message }}</div>
	{% endif %}
	{% if success %}
		<div class="alert alert-success" role="alert">{{ success }}</div>
	{% endif %}
	{% if not listing.active %}
		<div class="alert alert-primary" role="alert">
			BID CLOSED:
			{% if listing.bid_details.highest_bidder %}
				{% if user == listing.bid_details.highest_bidder %}
					you
				{% else %}
					{{ listing.bid_details.highest_bidder }}
				{% endif %}
				won the bid for ${{ listing.bid_details.current_bid }}
			{% else %}
				No one won this bid			
			{% endif %}
		</div>
	{% endif %}

	<div class="container-div">
		<h1>{{ listing.title }}</h1>

		{% if user != listing.posted_by and user.is_authenticated and listing.active %}
			<form action="{% url 'watchlist' listing.id %}" method="post">
				{% csrf_token %}
				<button class="btn btn-secondary btn-sm">
					{% if watchlisted %}
						Remove From Watchlist
					{% else %}
						Add To Watchlist
					{% endif %}
				</button>
			</form>
		{% endif %}

		<div class="image-wrapper">
			<img alt="listing image" src="{{ listing.image }}" class="fit-image">
		</div>

		<div>{{ listing.description }}</div>

		<h3>
			{% if listing.bid_details.current_bid == 0 %}
				${{ listing.bid_details.starting_bid }}
			{% else %}
				${{ listing.bid_details.current_bid }}
			{% endif %}
		</h3>

		<div>
			{% if listing.bid_details.highest_bidder %}
				Last bid placed by <b>{{ listing.bid_details.highest_bidder.username }}</b> for <b>${{ listing.bid_details.current_bid }}</b>
			{% else %}
				No bids placed yet
			{% endif %}
		</div>

		{% if user != listing.posted_by and user.is_authenticated and listing.active %}
			<form action="{% url 'place_bid' listing.id %}" method="post">
				{% csrf_token %}
				<input type="number" name="current_bid" placeholder="Bid" required class="form-control" step="0.01">
				<button class="btn btn-primary">Place Bid</button>
			</form>
		{% endif %}

		{% if user == listing.posted_by and listing.active %}
			<form action="{% url 'close_bid' listing.id %}" method="post">
				{% csrf_token %}
				<button class="btn btn-primary">Close Bid</button>
			</form>
		{% endif %}
	</div>

	<hr>

	<div>
		<h3>Details</h3>

		<ul>
		<li>Listed by: {{ listing.posted_by }}</li>
		<li>
			Category:
			{% if listing.category %}
				{{ listing.category }}
			{% else %}
				No Category Listed
			{% endif %}
		</li>
		<li>Posted at: {{ listing.posted_at }}</li>
		<li>Starting bid: ${{ listing.bid_details.starting_bid }}</li>
	</div>

	<hr>

	<div class="container-div">
		<h3>Comments</h3>

		{% if user.is_authenticated and user != listing.posted_by and listing.active %}
			<form action="{% url 'comment' listing.id %}" method="POST">
				{% csrf_token %}
				{{ comment_form }}
				<button class="btn btn-primary">Comment</button>
			</form>
		{% endif %}

		{% for comment in comments %}
			<div class="card mb-0">
				<div class="card-body py-1 px-2">
					<strong class="text-primary">{{ comment.posted_by }}</strong>
					<p class="mb-0 mt-1">{{ comment.comment }}</p>
				</div>
			</div>
		{% empty %}
			<div class="alert alert-secondary" role="alert">
				No comments available.
			</div>
		{% endfor %}
	</div>

{% endblock %}
